*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, #0004);
}

.container img{
    height: 380px;
    max-width: 380px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px grey;
    transform-origin: center;
    transform: perspective(800px) rotateY(20deg);
    transition: 0.5s;
}

.container:hover img{
    opacity: 0.3;
}

.container img:hover{
    transform: perspective(800px) rotate(0deg);
    opacity: 1;
}